<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="main--screen">
        <div class="main--container">
            <div class="a--container">
                <h3>no ad</h3>
            </div>
            <div class="class--container">
                <div class="class--info">
                    <img src="">
                    <h1>2022 BSSM 2학년</h1>
                </div>
                <div class="class--notice">
                    <h3>아직 공지가 없어요.</h3>
                </div>
            </div>
            <div class="school--container">
                <div class="school--incontainer">
                    <div class="school--name">
                        <img src="">
                        <h1>부산소마고</h1>
                    </div>
                    <div class="school--notice">
                        <div class="school--container--info">
                            <span class="info--name"><h2>공지사항</h2></span>
                            <span class="info--more"><h3>더보기</h3></span>
                        </div>
                        <div class="notice--elements"></div>
                    </div>
                    <div class="school--food">
                        <div class="school--container--info">
                            <span class="info--name"><h2>오늘의 급식</h2></span>
                            <span class="info--more"><h3>더보기</h3></span>
                        </div>
                        <div class="food--elements"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right--container">
            <div class="my--class--container">

            </div>
            <div class="footer--containet">

            </div>
        </div>
    </div>
</body>
</html>